In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [6]:

df=pd.read_csv("D:\\Level 3\\Semester 2\\DS-3003 Machine Learning 1\\Project 3\\Datasets\\restaurant_data.csv",index_col='Name')
df.head()

,Location,Cuisine,Rating,Seating Capacity,Average Meal Price,Marketing Budget,Social Media Followers,Chef Experience Years,Number of Reviews,Avg Review Length,Ambience Score,Service Quality Score,Parking Availability,Weekend Reservations,Weekday Reservations,Revenue
Name,,,,,,,,,,,,,,,,
Restaurant 0,Rural,Japanese,4.0,38,73.98,2224,23406,13,185,161.924906,1.3,7.0,Yes,13,4,638945.52
Restaurant 1,Downtown,Mexican,3.2,76,28.11,4416,42741,8,533,148.759717,2.6,3.4,Yes,48,6,490207.83
Restaurant 2,Rural,Italian,4.7,48,48.29,2796,37285,18,853,56.849189,5.3,6.7,No,27,14,541368.62
Restaurant 3,Rural,Italian,4.4,34,51.55,1167,15214,13,82,205.433265,4.6,2.8,Yes,9,17,404556.80
Restaurant 4,Downtown,Japanese,4.9,88,75.98,3639,40171,9,78,241.681584,8.6,2.1,No,37,26,1491046.35

In [7]:
# A longer and higher-rated review may signal strong customer satisfaction.
df["Review Quality Score"] = df["Avg Review Length"] * df["Rating"]

# Price category
df["Meal Price Category"] = pd.cut(df["Average Meal Price"],
                                   bins=[0, 30, 60, 100],
                                   labels=["Low", "Medium", "High"])

# Drop unused/redundant columns
df.drop(columns=["Average Meal Price"], inplace=True)
df.drop(columns=["Avg Review Length"], inplace=True)
df.drop(columns=["Rating"], inplace=True)

In [10]:
# Define the new Cluster column based on Location
df['Cluster'] = df['Location'].apply(
    lambda x: 'Urban' if x == 'Downtown' else 'Nonurban' if x in ['Rural', 'Suburban'] else 'Other'
)

In [11]:
df.head()

,Location,Cuisine,Seating Capacity,Marketing Budget,Social Media Followers,Chef Experience Years,Number of Reviews,Ambience Score,Service Quality Score,Parking Availability,Weekend Reservations,Weekday Reservations,Revenue,Review Quality Score,Meal Price Category,Cluster
Name,,,,,,,,,,,,,,,,
Restaurant 0,Rural,Japanese,38,2224,23406,13,185,1.3,7.0,Yes,13,4,638945.52,647.699623,High,Nonurban
Restaurant 1,Downtown,Mexican,76,4416,42741,8,533,2.6,3.4,Yes,48,6,490207.83,476.031096,Low,Urban
Restaurant 2,Rural,Italian,48,2796,37285,18,853,5.3,6.7,No,27,14,541368.62,267.191190,Medium,Nonurban
Restaurant 3,Rural,Italian,34,1167,15214,13,82,4.6,2.8,Yes,9,17,404556.80,903.906367,Medium,Nonurban
Restaurant 4,Downtown,Japanese,88,3639,40171,9,78,8.6,2.1,No,37,26,1491046.35,1184.239762,High,Urban

In [12]:
train_df, test_df = train_test_split(df, test_size=0.3, random_state=1000)

In [13]:
urban_train_df = train_df[train_df['Cluster'] == 'Urban'].copy()
urban_train_df.head()

,Location,Cuisine,Seating Capacity,Marketing Budget,Social Media Followers,Chef Experience Years,Number of Reviews,Ambience Score,Service Quality Score,Parking Availability,Weekend Reservations,Weekday Reservations,Revenue,Review Quality Score,Meal Price Category,Cluster
Name,,,,,,,,,,,,,,,,
Restaurant 5818,Downtown,Italian,90,5031,58655,13,805,3.5,9.6,Yes,86,29,958061.50,817.414508,Medium,Urban
Restaurant 808,Downtown,Indian,87,4113,44551,14,528,4.7,8.0,Yes,52,48,693454.50,704.871694,Medium,Urban
Restaurant 2853,Downtown,Italian,83,3941,44981,16,702,8.1,1.0,No,1,37,922103.10,543.752893,Medium,Urban
Restaurant 1744,Downtown,Mexican,78,2614,26987,3,310,3.3,2.4,No,65,40,467711.46,1007.924775,Low,Urban
Restaurant 2785,Downtown,American,77,1843,26233,11,516,9.2,9.8,Yes,36,75,665358.21,696.098096,Medium,Urban

In [14]:
urban_train_df.shape

(1953, 16)

In [15]:
nonurban_train_df = train_df[train_df['Cluster'] == 'Nonurban'].copy()
nonurban_train_df.head()

,Location,Cuisine,Seating Capacity,Marketing Budget,Social Media Followers,Chef Experience Years,Number of Reviews,Ambience Score,Service Quality Score,Parking Availability,Weekend Reservations,Weekday Reservations,Revenue,Review Quality Score,Meal Price Category,Cluster
Name,,,,,,,,,,,,,,,,
Restaurant 1649,Rural,Japanese,49,3259,34243,6,109,4.2,5.5,Yes,24,11,794650.87,810.583476,High,Nonurban
Restaurant 1052,Suburban,Indian,55,2662,34744,4,826,1.8,4.6,Yes,27,24,421854.52,500.508350,Medium,Nonurban
Restaurant 2520,Suburban,Italian,60,1515,19829,13,207,8.5,3.5,Yes,44,51,659678.50,699.115449,Medium,Nonurban
Restaurant 1727,Rural,Italian,35,1778,24218,1,234,5.6,5.8,No,0,7,358587.50,576.446525,Medium,Nonurban
Restaurant 2717,Rural,Japanese,30,2966,32413,2,792,6.8,6.5,No,19,23,478350.21,1075.677952,High,Nonurban

In [16]:
nonurban_train_df.shape

(3904, 16)

In [18]:
urban_test_df = test_df[test_df['Cluster'] == 'Urban'].copy()
urban_test_df.head()

,Location,Cuisine,Seating Capacity,Marketing Budget,Social Media Followers,Chef Experience Years,Number of Reviews,Ambience Score,Service Quality Score,Parking Availability,Weekend Reservations,Weekday Reservations,Revenue,Review Quality Score,Meal Price Category,Cluster
Name,,,,,,,,,,,,,,,,
Restaurant 7623,Downtown,Japanese,86,9065,96518,18,696,9.8,5.7,Yes,8,72,1281406.16,916.451777,High,Urban
Restaurant 1029,Downtown,Mexican,89,1414,20379,4,714,7.7,6.1,No,45,0,689655.31,269.778574,Medium,Urban
Restaurant 2557,Downtown,French,77,2487,30116,9,118,9.2,4.3,No,6,6,1047222.30,341.468235,High,Urban
Restaurant 2376,Downtown,Japanese,85,3459,42040,13,220,4.4,8.4,Yes,52,67,1431431.14,564.044357,High,Urban
Restaurant 594,Downtown,Japanese,74,5519,63074,3,628,1.8,9.3,Yes,25,52,1224389.07,1113.637721,High,Urban

In [19]:
urban_test_df.shape

(868, 16)

In [20]:
nonurban_test_df = test_df[test_df['Cluster'] == 'Nonurban'].copy()
nonurban_test_df.head()

,Location,Cuisine,Seating Capacity,Marketing Budget,Social Media Followers,Chef Experience Years,Number of Reviews,Ambience Score,Service Quality Score,Parking Availability,Weekend Reservations,Weekday Reservations,Revenue,Review Quality Score,Meal Price Category,Cluster
Name,,,,,,,,,,,,,,,,
Restaurant 7067,Suburban,Mexican,64,2695,33408,13,200,1.3,2.8,No,15,47,433648.30,246.711479,Low,Nonurban
Restaurant 4801,Rural,American,33,2040,28686,13,281,9.9,9.0,Yes,10,26,311126.45,1040.465868,Medium,Nonurban
Restaurant 2911,Rural,American,49,2137,23569,18,376,6.0,1.5,No,20,38,508506.91,659.340288,Medium,Nonurban
Restaurant 2244,Suburban,Italian,51,1304,15045,11,280,1.2,3.0,No,10,13,583019.21,591.269321,Medium,Nonurban
Restaurant 2507,Rural,French,32,1875,18377,14,272,1.3,8.9,No,4,14,456809.29,800.546744,High,Nonurban

In [21]:
nonurban_test_df.shape

(1643, 16)

In [23]:
#urban_train_df.to_csv('urban_train_df.csv', index=True)
#nonurban_train_df.to_csv('nonurban_train_df.csv', index=True)
#urban_test_df.to_csv('urban_test_df.csv', index=True)
#nonurban_test_df.to_csv('nonurban_test_df.csv', index=True)